<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to E-Commerce Clothing API</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #333;
        }

        .gif-container {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Welcome to E-Commerce Clothing API</h1>
        <p>Hello from the server! Go to <strong>/api/products</strong> to get products and send a list of keywords to
            get products with those keywords, or try categories like <strong>/api/products/&lt;keyword&gt;</strong>.
            Example: <strong>/api/products/Pants</strong>.</p>
        <div class="gif-container">
            <!-- Add funny GIFs here -->
            <img src="https://media.giphy.com/media/3oEduV4SOS9mmmIOkw/giphy.gif" alt=" GIF">
        </div>
    </div>
</body>

</html>